[submodule "link/home/.config/bat/syntaxes/st2-zonefile"]
	path = link/home/.config/bat/syntaxes/st2-zonefile
	url = https://github.com/halilim/st2-zonefile.git
	branch = sublime-syntax
[submodule "link/home/.config/bat/syntaxes/sublime-procfile"]
	path = link/home/.config/bat/syntaxes/sublime-procfile
	url = https://github.com/fnando/sublime-procfile.git
	branch = master
