snippet js "JavaScript Codeblock" b
\`\`\`js
$1
\`\`\`
$0
endsnippet

snippet json "JSON Codeblock" b
\`\`\`json
$1
\`\`\`
$0
endsnippet

snippet rb "ruby Codeblock" b
\`\`\`ruby
$1
\`\`\`
$0
endsnippet

snippet sql "SQL Codeblock" b
\`\`\`sql
$1
\`\`\`
$0
endsnippet

snippet bug "bug description" b
### Background

...

**Steps to reproduce:**

1. 

**Actual:**

-

**Expected:**

-

### Tech Notes

-
endsnippet
