set clipboard+=unnamed

set hlsearch " highlight matches
set ideajoin " IdeaVim: join via IDE
set ignorecase " case-insensitive search by default
set incsearch " search as characters are entered
set showcmd " show command in the last line
set smartcase " except when an upper-case letter used in the search

" Plugins
set commentary
set surround

let mapleader=","

" For <Action>s: Cmd+Shift+P > IdeaVim: Track Action IDs

map <C-J> <Action>(GotoNextError)
map <C-K> <Action>(GotoPreviousError)

" Emulate vim-wordmotion
map <leader>w [w
map <leader>e ]w
map <leader>b [b

map <leader><space> :nohl<CR>

" TODO: No direct "ConfigureKeymap" action yet
map <leader><leader>k <Action>(ChangeKeymap)
map <leader><leader>v :e ~/.ideavimrc<CR>

map <leader>% <Action>(EditorCodeBlockEnd)
map <leader><leader>% <Action>(EditorCodeBlockStart)
map <leader>T <Action>(SearchEverywhere)
map <leader>a <Action>(GotoTest)
map <leader>c <Action>(CommentByLineComment)
map <leader>cp :call CopyGitPathLine()<CR>
map <leader>cps :call CopyGitPathLineS()<CR>
map <leader>da <Action>(CloseAllEditors)
map <leader>de <Action>(CloseAllEditorsButActive)
map <leader>r <Action>(RenameElement)
map <leader>t <Action>(ActivateStructureToolWindow)

map [m <Action>(MethodDown)
map ]m <Action>(MethodUp)
map g] <Action>(QuickImplementations)

" https://plugins.jetbrains.com/plugin/16166-toggler
map - <Action>(ToggleAction)
map + <Action>(ToggleActionReverse)

function! CopyGitPath()
  exec 'action CopyPathFromRepositoryRootProvider'
endfunction

function! CopyGitPathLine()
  call CopyGitPath()
  let @+ = @+ . ':' . line('.')
endfunction

function! CopyGitPathLineS()
  call CopyGitPathLine()
  let @+ = 's ' . @+
endfunction

function! s:MapBookmark(char)
  let l:bookmark = toupper(a:char)
  exec 'map m' . a:char . ' <Action>(ToggleBookmark' . bookmark . ')'
  exec 'map `' . a:char . ' <Action>(GotoBookmark' . bookmark . ')'
  exec "map '" . a:char . ' <Action>(GotoBookmark' . bookmark . ')'
endfunction

for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
  call s:MapBookmark(i)
endfor

for c in "abcdefghijklmnopqrstuvwxyz"
  call s:MapBookmark(c)
endfor
