on: push

jobs:
  ruby:
    name: Ruby
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 4.0
          bundler-cache: true
      - name: Run Rubocop
        run: bundle exec rubocop
      - name: Run RSpec
        run: bundle exec rspec

  # https://github.com/marketplace/actions/shellcheck
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ShellCheck
        # cSpell:ignore ludeeus
        uses: ludeeus/action-shellcheck@master
        env:
          # See also: the notes in .shellcheckrc
          SHELLCHECK_OPTS: -s bash
        with:
          ignore_paths: "**/.p10k*.zsh"

  # https://github.com/shellspec/shellspec
  shellspec:
    name: ShellSpec
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install ShellSpec
        run: curl -fsSL https://git.io/shellspec | sh -s latest.tar.gz --bin /usr/local/bin --yes
      - name: Install dependencies and Zsh
        run: |
          # https://github.com/actions/runner-images/issues/10977#issuecomment-2810713336
          # Skip installing package docs (makes the man-db trigger much faster)
          sudo tee /etc/dpkg/dpkg.cfg.d/01_nodoc > /dev/null << 'EOF'
          path-exclude /usr/share/doc/*
          path-exclude /usr/share/man/*
          path-exclude /usr/share/info/*
          EOF

          sudo apt-get update
          sudo apt-get install --no-install-recommends -y ripgrep zsh
      - name: Display ShellSpec version
        run: shellspec --version
      - name: Display Bash version
        run: bash --version
      - name: Display Zsh version
        run: zsh --version
      # NOTE: If the test suite starts taking long enough, switch to the matrix strategy
      - name: Set environment variables
        run: |
          echo "TMPDIR=$RUNNER_TEMP" >> "$GITHUB_ENV"
      - name: Run ShellSpec
        run: bin/run_shellspec
